<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="stylesheet_google.css" /> <!--cette balise permet d'importer le contenu du fichier css-->
        <title>Google</title>
    </head>

<body>

  <header>
    <div id="topright">
      <p><a href="mail.google.com">Gmail</a></p>
      <p><a href="https://www.google.fr/imghp?hl=fr&tab=wi&ei=80JcWc6cDZbgjwPssL3YDw&ved=0EKouCBYoAQ">Images</a></p>
      <p><a href="https://www.google.fr/intl/fr/options/"><img src="img/google_links.png" alt="google_links" id="google_links"></a></p>
      <p id="connexion"><a href="https://accounts.google.com/ServiceLogin?hl=fr&passive=true&continue=https://www.google.fr/">Connexion</a></p>
    </div>
    
  </header>

  <section>
    <img src="img/logo_google.png" alt="Logo Google" name="logo_google">
    <form id="form">
      <input type="text" name="google_search" id="searchtext">
      <div id="buttons">
        <input type="submit" value="Recherche Google" class="button" id="searchbutton">
        <input type="reset" value="J'ai de la chance" class="button">
      </div>
    </form> 
  <button id="display_button">Afficher les éléments centraux</button> 
  </section>

  
  
  <footer>
    <div class="bottom">
      <p><a href="https://www.google.fr/intl/fr/ads/?fg=1">Publicité</a></p>
      <p><a href="https://www.google.fr/services/?fg=1">Entreprise</a></p>
      <p><a href="https://www.google.fr/intl/fr/about.html?fg=1">A propos</a></p>
    </div>
    
    <div class="bottom">
      <p><a href="https://www.google.fr/intl/fr/policies/privacy/?fg=1">Confidentialité</a></p>
      <p><a href="https://www.google.fr/intl/fr/policies/terms/?fg=1">Conditions</a></p>
      <p><a href="https://www.google.fr/preferences?hl=fr">Paramètres</a></p>
    </div>
    
  </footer>
  <script src="scripts/main.js"></script>
  </body>
</html>